@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Golos+Text&family=Great+Vibes&family=Oswald&family=Roboto:ital,wght@0,400;0,900;1,900&family=Ubuntu&family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dark {
      background-image: linear-gradient(to top, theme("colors.science-blue.800"), theme("colors.science-blue.950"));
      color: theme("colors.science-blue.50");
    }

    .light {
        background-image: linear-gradient(to right, theme("colors.science-blue.400"), theme("colors.science-blue.100"));
        /* background-color: theme("colors.science-blue.500"); */
        color: theme("colors.science-blue.950");
      }

    .link {
      font-size: 0.75rem;
      line-height: 1rem;      
      text-decoration: none;
      padding: 0;
      margin: 0;
      width: fit-content;
      cursor: pointer;
    }

    .link:hover {
      /* width: 100%;
      height: 100%; */
      border-radius: 5px;
    }

    .dark .link:hover {
      background-image: linear-gradient(to top, theme("colors.science-blue.500"), theme("colors.science-blue.800"));
    }

    .light .link:hover {
      background-image: linear-gradient(to right, theme("colors.science-blue.200"), theme("colors.science-blue.100"));
    }
  }